body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #0901ff, #fe0202);
    overflow: hidden;
    background-repeat: no-repeat;
}


.flashcard-container{
    background-color: #fdf7f7ea;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    min-width: 360px;
    text-align: center;
    margin-bottom: 60px;
}
.flashcard-container h1{
    font-size: 1.5rem;
}
.flashcard{
    max-width: 100;
    min-height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.flashcard.is-flipped{
    transform: rotateY(180deg);
    max-width: 100%;
    text-align: center;
    align-items: center;
}

.flashcard div{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: auto;
    scrollbar-width: none;
    margin: 0 auto;
    background: linear-gradient(145deg, #b7b6c3, #554949);
}

.back{
    transform: rotateY(180deg);
}

.front{
    display: flex;
    color: #ffffff;
}

/* .flashcard p{
    a
    width: 100%;
    height: 99px;
    overflow-x: none;
    display: flex;
    margin: 0 auto;
    margin-top: 0;
} */



.controls{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.controls button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.controls button:hover{
    transform: scale(1.2);
}

@media (max-width: 75vw) {
    .flashcard-container{
        width: 75%;
    }

    .flashcard{
        width: 90%;
    }
}

