body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #0901ff, #fe0202);
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
}

.flashcard-container{
    background-color: #ffffffe0;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin-bottom: 60px;
    overflow: scroll;
    scrollbar-width: none;
}

.flashcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 90%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 0 auto;
    cursor: pointer;
}

.flashcard.is-flipped{
    transform: rotateY(180deg);
    height: 250px;
}

.flashcard div{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: auto;
    scrollbar-width: none;
    margin: 0 auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #b7b6c3, #554949);
}

.back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.flashcard p {
    font-size: 1rem;
    width: 100%;
    min-height: 1rem;
    overflow-x: none;
    display: flex;
    text-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
}

.controls{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.controls button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.controls button:hover{
    transform: scale(1.2);
}

@media (max-width: 800px) {
    .flashcard-container{
        width: 75%;
    }

    .flashcard{
        width: 100%;
        height: 250px;
    }
}
